# Maven / Java
apache-maven-*
maven.zip
target/
**/target/
*.class
*.jar
*.war

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Environment variables & Secrets
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE & OS
.idea/
.vscode/*
!.vscode/extensions.json
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
